.graphs-view {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.graph-one {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.graph-two {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.graph-present-hour {
  width: 20vw;
}

.graph-present-day {
  width: 30vw;
  // height: 75vh;
}