.graphs-view {
  display: flex;
  height: 100%;
}

.select-view {
  width: 20%;
}

.graph {
  width: 80%;
  justify-content: center;
}

.graph-present-hour {
  width: fit-content;
  margin: 0 auto;
}