.capacity-view {
  display: flex;
  
  // height: 100%;
}

.gym-capacity {
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  width: 65%;
  border: 2px solid black;
}

.row-one {
  padding: 1.5em;
  border-bottom: 2px solid black;
<<<<<<< HEAD
  height: 65%;
=======
  height: 75%;
>>>>>>> ac36ac9465c547ec0719e85d66962c79e517e9dc
}

.row-two {
  padding: 1.5em;
<<<<<<< HEAD
  height: 35%;
}
=======
  height: 25%;
}
>>>>>>> ac36ac9465c547ec0719e85d66962c79e517e9dc
