.capacity-view {
  display: flex;
  
  // height: 100%;
}

.gym-capacity {
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  width: 65%;
  border: 2px solid black;
}

.row-one {
  padding: 1.5em;
  border-bottom: 2px solid black;
  height: 75%;
}

.row-two {
  padding: 1.5em;
  height: 25%;
}
