.contact-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F6F0;
  font-size: 1.5vw;
  font-family: 'Roboto', sans-serif;
}

.map-div {
  margin-top: 120px;
  width: 40%;
  height: calc(100% - 120px);

  .map-container {
    width: 100%;
    height: 100%;
  }
}

.contact-form-main-div {
  margin-top: 120px;
  width: 60%;
  height: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../background.png');
}

.contact-inner-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border: solid;
  color: #002642;
  border-color: #002642;
  border-radius: 0.5rem;
  border: 1;
  align-items: center;
  opacity: 0.9;

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1vh;
    margin-top: 0.25em;
    padding: 1em;
  }

  .contact-form-group {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-bottom: 0.5em;

    input, textarea {
      font-size: medium;
      border-style: none;
      display: block;
      background-color: #d3cccc;
      height: 5vh;
      margin-top: 0.5em;
      border-radius: 0.3em;
      transition: 0.4s;
      width: 100%;
    }

    textarea {
      height: 15vh;
    }
  
    input:focus {
      outline: none;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    }

    label {
      font-size: large;
    }
  }

  button {
    background-color: #4E4F50;
    color: #ffffff;
    padding: 0.5rem;
    margin-top: 0.5em;
    text-align: center;
    border-radius: 0.5rem;
    border: 0;
    width: 5em;
    font-size: 1.5rem;
    border-width: 2px;
    border-style: solid;
    align-items: center;
    margin-bottom: 0.5em;
  }
  
  button:hover {
    background-color: #e59500;
  }

  .contact-form-error {
    font-size: small;
    color: #840032;
  }

}