.login-form-main-div {
  display: flex;
 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../background.jpeg');
  font-size: 1.5vw;
  font-family: 'Roboto', sans-serif;
}

.inner-form-div {
  display: flex;
  opacity: 0.9;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border: solid;
  color: #002642;
  border-color: #002642;
  border-radius: 0.5rem;
  border: 1;
  align-items: center;

  h2 {
    color: #000000;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1vh;
    margin-top: 0.25em;
    padding: 1em;
  }

  .login-form-group {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-bottom: 0.5em;

    input {
      font-size: medium;
      border-style: none;
      display: block;
      background-color: #d3cccc;
      height: 5vh;
      margin-top: 0.5em;
      border-radius: 0.3em;
      transition: 0.4s;
      width: 100%;
    }
  
    input:focus {
      outline: none;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    }

    label {
      color: #000000;
      font-size: large;
    }
  }

  button {
    background-color: #4E4F50;
    color: #ffffff;
    padding: 0.5rem;
    // margin: 0.5rem;
    margin-top: 0.5em;
    text-align: center;
    border-radius: 0.5rem;
    border: 0;
    width: 5em;
    font-size: 1.5rem;
    border-width: 2px;
    border-style: solid;
    align-items: center;
    margin-bottom: 0.5em;
  }
  
  button:hover {
    background-color: #e59500;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(197, 203, 227, 1);
    -moz-box-shadow: 2px 2px 0px 0px rgba(197, 203, 227, 1);
    box-shadow: 2px 2px 0px 0px rgba(197, 203, 227, 1);
  }

  .login-error {
    font-size: small;
    color: #840032;
  }

}