nav {
  width: auto;
  height: 10vh;
  background: #840032;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 7vh;


  button {
    margin-right: 1.5em;
  }

  .nav-bar {
    width: 90vw;
    padding: 1vh;;
  }

  .nav-bar,
  .nav-bar-left,
  .login--register,
  .login-logout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style-type: none;
    }


    button {
      width: fit-content;
      padding: 0.5rem;
      background-color: #ffffff;
      border: solid;
      color: #002642;
      border-color: #002642;
      width: 95%;
      margin: 0.35vw;
      text-align: center;
      overflow: auto;
      border-radius: 0.5rem;
      border: 1;
    }

    button:hover {
      background-color: #e59500;
    }

    li {
      margin: 0.5vw;
      font-size: 1.2rem;
      color: #ffffff;

      a {
        text-decoration: none;
        color: white;
      }

      a:hover {
        color: #e59500;
      }

    }
  }

  .nav-bar-right {
    width: 15vw;
  }

  .login--register {
    display: none;
  }
}